<!-- Main top nav -->
<nav class="navbar">
  <div class="container">
    {{>logo}}

    <!-- Collect the nav links, forms, and other content for toggling -->
    <ul class="nav navbar-nav navbar-right navbar-offset">
      <li><a href="/#about">About</a></li>
      <li><a href="/faq">Q&amp;A</a></li>
      <li><a href="/user">Profile</a></li>
      <li><a href="/" class="logout-button">Logout</a></li>
    </ul>
  </div><!-- /.container-fluid -->
</nav>
