<!-- Main top nav -->
<nav class="navbar">
  <div class="container">
    {{>logo}}

    <!-- Collect the nav links, forms, and other content for toggling -->
    <ul class="nav navbar-nav navbar-right navbar-offset">
      <li><a href="#">About</a></li>
      <li><a href="#">Q&amp;A</a></li>
      <li><a href="#">Directory</a></li>
      <li><a href="/auth/logout" class="logout-button">Logout</a></li>
    </ul>
  </div><!-- /.container-fluid -->
</nav>
