<!doctype html>
{{>top}}
    <head>
      {{>header}}
    </head>

    <body>

      {{>nav_notloggedin}}

      <div class="container text-center jumbo space">
        <div class="col-md-8 col-md-offset-2">
          <h2>Q &amp; A</h2>
          <p>In case you cannot find your answer here, please do not hesitate to contact us.</p>
        </div>
      </div>

      <div class="container space">
        <div class="row">
          <div class="col-md-6 text-right">
            <h2>Mentor</h2>
            <br>
            <h3>Why should I become a mentor?</h3>
            <p>As a mentor you will positively impact an LGBTQ professional life. With your support and care, a mentee may learn to develop a positive LGBTQ professional identity. With your help, a mentee may be spared years of needless distress and be able to move up into a more full and authentic professional life. With your wisdom, a mentee may learn new skills to negotiate the challenges life can present to LGBTQ individuals and early career starters.</p>
            <h3>What qualities do mentors have?</h3>
            <p>Mentors are professional, mature, caring, responsible, and altruistic. They are individuals who want to serve as role models to others in the industry. Because they have negotiated their own coming out process in their careers, mentors know first-hand the challenges inherent in, coming out, and finding professional development resources. It is this personal understanding that makes mentors particularly well suited to help others.</p>
            <h3>What is the time requirement?</h3>
            <p>Mentors commit to a minimum of one meeting every other week. Mentee challenges may require additional information sessions to help mentors prepare for their role as mentors.</p>
            <h3>How specifically do mentors serve their mentees?</h3>
            <p>Mentors function as:
            <ul dir="rtl">
              <li>Mentors listen with compassion and understanding; they answer questions and provide information.</li>
              <li>Mentors help mentees explore the LGBTQ business community together. They visit LGBT establishments such as start ups, LGBTQ Centres; he can suggest LGBTQ professional events for the mentee, etc.</li>
            </ul>
            </p>
            <h3>Mentors provide guidance on the following issues:</h3>
            <ul dir="rtl">
              <li>Workplace attitude towards sexual orientation or gender identity</li>
              <li>Acceptance of self as gay, lesbian, bisexual, queer, or transgender at work</li>
              <li>Finding suitable career</li>
              <li>Integration of multiple identities (e.g., being LGBTQ and a person of colour) at work</li>
              <li>Professional  concerns</li>
              <ul dir="rtl">
                <li>Finding positive business community resources:</li>
              </ul>
              <li>Written materials (i.e. books, magazines, directories, etc.)</li>
              <ul dir="rtl">
                <li>On-line resources</li>
              </ul>
              <li>Activities (i.e. meetings, seminars, events etc.)</li>
              <li>Groups (i.e Intertech diversity forum, interbank LGBT group, etc.)</li>
            </ul>

          </div>
          <div class="col-md-6 text-left">
            <h2>Mentee</h2>
            <br>
            <h3>Who are the Mentors?</h3>
            <p>Our mentors are openly LGBTQ IT professionals across London and The UK.</p>
            <h3>What would mentors and mentees typically do together?</h3>
            <p>Mentors and mentees discuss issues of interest to the personal and professional development of the mentee.</p>
            <h3>Where do mentors and mentees meet?</h3>
            <p>Often mentors and mentees meet online based on the best communication way to fit both of them, and sometimes in public locations if that might be required based on the mentor assessment. The most important factor is that the mentee and mentor feel safe and at ease in the chosen location.</p>
            <h3>Are meetings between mentors and mentees confidential?</h3>
            <p>Mentors take very seriously the privacy of their mentees. However, due to the fact that the meetings take place in public, it is possible that friends or others the mentee knows may see the mentor and mentee together. Trust that the mentor will never disclose the nature of the mentor/mentee relationship without the mentee’s permission. The only time a mentor is to break confidentially is if they believe that a mentee is at risk of harming themselves or others. The mentee and mentor also can voice any concerns to Intertech Diversity Forum team.</p>
            <h3>How often do mentors and mentees meet?</h3>
            <p>Mentors and mentees are asked to meet a minimum of once every other week. Over time, they may meet less frequently, depending upon the mentee’s need. Meetings are flexible in order to accommodate both mentors’ and mentees’ schedules.</p>
            <h3>How are mentors and mentees paired?</h3>
            <p>After a mentee turns in their application online, the platform will pair mentors and mentees based on:
            <ul>
              <li>Shared characteristics such as their sexual orientation and gender identity</li>
              <li>Academic, professional,  and personal interests</li>
            </ul>
            When possible, we try to accommodate any specific requests a mentee might have if available
            </p>
            <h3>What if I don’t like my mentor?</h3>
            <p>Though it is extremely rare, sometimes mentees are assigned to new mentors if the match is not working out. We want to ensure the mentee gets the support they need in a comfortable and safe environment</p>
            
          </div>
        </div>
      </div>

      {{>footer}}

      <script src="/bower_components/mootools/dist/mootools-core.min.js"></script>
      <script src="/js/home.js"></script>

    </body>
</html>
