<!doctype html>
{{>top}}
    <head>
      {{>header}}
    </head>

    <body>

      {{>nav_notloggedin}}

      <!-- Info -->
      <div class="container text-center jumbo-header">
        <h1>MentorMe</h1>
        <h2>Inspiration and Impact for <br>
              LGBT+ people in tech!</h2>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 text-center mentor-box">
            <h2>Mentor</h2>
            <a href="?action=signup&end=mentor">
              <div class="register-button">Sign up</div>
            </a>
          </div>
          <div class="col-md-6 text-center mentee-box">
            <h2>Mentee</h2>
            <a href="?action=signup&end=mentee">
              <div class="register-button">Sign up</div>
            </a>
          </div>
        </div>
      </div>

      <div class="container text-center jumbo-about">
        <div class="col-md-8 col-md-offset-2">
          <a name="about"></a>
          <h2>About</h2>
          <p>MentorMe is a platform designed by Intertech
              for LGBT+ tech community members to
              partner in knowledge sharing, where mentors can
              help guide mentees through professional, work, or industry issues,
              through coaching&nbsp;and&nbsp;support.</p>
        </div>
      </div>

      {{>footer}}

      <div class="TCoverlay {{showTerms}}">
        <div class="TCmodal">
          <h1>Terms and Conditions:</h1>
          <div class="TCinfo">
            <ul>
              <li>Don't do anything dodgy</li>
              <li>If you do, it's not our fault</li>
            </ul>
          </div>
          <div class="text-right">
            <a href="/" class="disagree-button"><button type="button" class="btn btn-link">I object</button></a>
            <a href="/{{end}}" class="agree-button"><button type="button" class="btn btn-default">I agree</button></a>
          </div>
        </div>
      </div>

      <script src="/bower_components/mootools/dist/mootools-core.min.js"></script>
      <script src="/js/home.js"></script>

    </body>
</html>
