<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Intertech: Mentor Me</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,600,100' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>

    <body>

    	<!-- Main top nav -->
      <nav class="navbar">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a href="#">
              <img class="logo" src="/images/logo.png" alt="intertech">
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <ul class="nav navbar-nav navbar-right navbar-offset">
            <li><a href="#">About</a></li>
            <li><a href="#">Q&amp;A</a></li>
            <li><a href="/auth/login" class="login-button">Login</a></li>
          </ul>
        </div><!-- /.container-fluid -->
      </nav>

      <!-- Info -->
      <div class="container text-center jumbo-header">
        <h1>MentorMe</h1>
        <h2>Inspiration and Impact for <br>
              LGBT+ people in tech!</h2>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 text-center mentor-box">
            <h2>Mentor</h2>
            <div class="register-button">
              <a href="?action=signup&end=mentor">Sign up</a>
            </div>
          </div>
          <div class="col-md-6 text-center mentee-box">
            <h2>Mentee</h2>
            <div class="register-button">
              <a href="?action=signup&end=mentee">Sign up</a>
            </div>
          </div>
        </div>
      </div>

      <div class="container text-center jumbo-about">
        <div class="col-md-8 col-md-offset-2">
          <h2>About</h2>
          <p>MentorMe is a platform designed by Intertech
              for LGBT+ tech community members to
              partner in knowledge sharing, where mentors can
              help guide mentees through professional, work, or industry issues,
              through coaching&nbsp;and&nbsp;support.</p>
        </div>
      </div>

      <footer class="container-fluid">
        <div class="container">
          Powered by <b>@MentorMe</b>
        </div>
      </footer>

      <!-- Google Analytics -->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-71333320-1', 'auto');
        ga('send', 'pageview');

      </script>

      <div class="TCoverlay {{showTerms}}">
        <div class="TCmodal">
          <h1>Terms and Conditions:</h1>
          <div class="TCinfo">
            <ul>
              <li>Don't do anything dodgy</li>
              <li>If you do, it's not our fault</li>
            </ul>
          </div>
          <div class="text-right">
            <a href="/" class="disagree-button"><button type="button" class="btn btn-link">I object</button></a>
            <a href="/{{end}}" class="agree-button"><button type="button" class="btn btn-default">I agree</button></a>
          </div>
        </div>
      </div>

      <script src="/bower_components/mootools/dist/mootools-core.min.js"></script>
      <script src="/js/home.js"></script>

    </body>
</html>
