<!doctype html>
{{>top}}
	<head>
    {{>header}}
  </head>

	<body>

	{{>nav_mentee}}

	<!-- Info -->
	<div class="jumbotron" id="info">
		<div class="container">
			<div class="lead">Mentors directory</div>
				<div class="row">
					<!--<div class="mentorCards"></div>-->
          {{#each mentors}}
						<div class="col-sm-6 col-md-4">
              <div class='card'>
                  <img src="{{photo}}" class="card-img-top img-responsive mentorPhoto">
                  <div class='card-block'>
                      <h4 class='card-title mentorName'>{{first_name}} {{last_name}}</h4>
                      <p class='card-text mentorHeadline'>{{headline}}</p>
                      <a href='/mentors/{{id}}/{{first_name}}_{{last_name}}' class='btn btn-primary'>View profile</a>
                  </div>
              </div>
						</div>
          {{/each}}
				</div>
			</div>
		</div>
	</div>

	{{>footer}}

	</body>
</html>
