<!doctype html>
{{>top}}
	<head>
    {{>header}}
  </head>

	<body>

	{{>nav_mentee}}

	<!-- Info -->
	<div class="jumbotron" id="info">
		<div class="container">
			<div class="lead">Mentors page </div>
				<div class="row">
					<!--<div class="mentorCards"></div>-->
          {{#each mentors}}
              <div class='card mentorCard col-sm-6 col-md-4 col-md-offset-1' style='background-color: #edebe8; border-color: #c0c0c0;'>
                  <br>
                  <img class='card-img-top mentorPhoto' src='{{photo}}' alt='Mentor Image'>
                  <div class='card-block'>
                      <h4 class='card-title mentorName'>{{first_name}} {{last_name}}</h4>
                      <p class='card-text mentorHeadline'>{{headline}}</p>
                      <a href='/mentors/profile?id={{id}}' class='btn btn-primary'>View profile</a>
                  </div>
              </div>
          {{/each}}
				</div>
			</div>
		</div>
	</div>

	{{>footer}}

	</body>
</html>
