<!doctype html>
	{{>top}}
	<head>
    {{>header}}
  </head>

    <body>

		{{>nav_mentee}}

		<div class="jumbotron" id="info">
	    <div class="container">
	      <div class="row">
	        <div class="col-md-3">
	          <img class="profile-image img-responsive" src="{{photo}}" alt="User Profile">
		      </div>
		      <div class="col-md-9">
	          <h1>{{firstName}} {{lastName}}</h1>
	          <h2>{{headline}}</h2>
						<p>Skills: {{skills}}</p>
						<p>Experience: {{experience}}</p>
	          <p>
							Summary: <br>
	              {{summary}}
	          </p>
		      </div>
			  </div>
			</div>
		</div>

		<div class="container contactBox">
      <div class="row">
				{{#if sent}}
					<div class="col-md-12">
							<div class="alert alert-success" role="alert">
									Thanks - your message has been queued for delivery. {{firstName}} should get it within the next couple of days.
							</div>
					</div>
				{{else}}
					<div class="col-md-3 text-right">
						<h2>Want {{firstName}} to mentor you - send a message here:</h2>
					</div>
					<form class="col-md-9" method="post">
						<div class="form-group">
								<label class="sr-only" for="apply">Application</label>
								<textarea rows="10" cols="" class="form-control" id="apply" placeholder="Introduce yourself to {{firstName}}"></textarea>
						</div>
						<button type="submit" class="btn btn-default">Send</button>
					</form>
				{{/if}}
			</div>
		</div>

		{{>footer}}

    </body>
</html>
