<!doctype html>
	{{>top}}
	<head>
    {{>header}}
  </head>

    <body>

		{{>nav_mentor}}

    <div class="container jumbo">

			{{#if saved}}
			<div class="row">
          <div class="col-md-12">
              <div class="alert alert-success" role="alert">
                  Your profile has been updated.
              </div>
          </div>
      </div>

			{{/if}}

      <div class="row">
        <div class="col-md-3">
          <img class="profile-image img-responsive" src="{{user.photo}}" alt="User Profile">
	      </div>
	      <div class="col-md-9">
					<form method="post">
	          <h1>{{user.firstName}} {{user.lastName}}</h1>
	          <h2>{{user.headline}}</h2>
						<p>Email address: <input name="email" type="text" class="form-control" value="{{user.email}}"> (not shown to mentees unless you respond to their request)</p>
						<p>Skills: <input name="skills" type="text" class="form-control" value="{{user.skills}}"></p>
						<p>Experience: <input name="experience" type="text" class="form-control" value="{{user.experience}}"></p>
						<p>
							Summary: <br>
								<textarea name="summary" rows="10" cols="" class="form-control">{{user.summary}}</textarea>
						</p>
						<button class="btn btn-default">Save</button>
					</form>
	      </div>
		  </div>
    </div>

		<div class="space"></div>

		{{>footer}}

    </body>
</html>
