<!doctype html>
	{{>top}}
	<head>
    {{>header}}
  </head>

    <body>

		{{>nav_mentee}}

    <div class="container">
			<div class="lead">Viewing {{firstName}}'s Profile:</div>
      <div class="row">
        <div class="col-md-3">
          <img class="profile-image" src="{{photo}}" alt="User Profile">
	      </div>
	      <div class="col-md-9">
          <h1>{{firstName}} {{lastName}}</h1>
          <h2>{{headline}}</h2>
          <p>
              {{summary}}
          </p>
	      </div>
		  </div>

      <div class="row">
          <div class="col-md-12">
              <form class="">
                  <div class="form-group">
                      <label class="sr-only" for="apply">Application</label>
                      <textarea rows="10" cols="" class="form-control" id="apply" placeholder="Introduce yourself to {{firstName}}"></textarea>
                  </div>
                  <button type="submit" class="btn btn-default">Apply</button>
              </form>
          </div>
      </div>

      <div class="row">
          <div class="col-md-12">
              <div class="alert alert-success" role="alert">
                  Congratulations, your application has been sent to {{firstName}}.
              </div>
          </div>
      </div>
    </div>

		{{>footer}}

    </body>
</html>
