<<<<<<< HEAD
/* variables */
#info {
  background: #ffffff;
  margin: 6em 0;
  text-align: center;
}
#blog {
  background: #eeeeee;
}
#loginSignup,
footer {
  text-align: center;
  margin: 6em 0;
}
.lead {
  font-size: 200%;
  padding-bottom: 4em;
=======
#logo{

}

#info{
	background:#fff;
	margin:6em 0;
	text-align:center
	}

#blog{
	background:#eee
	}

#menteesignin, #mentorsignin, footer{
	text-align:center;
	margin:6em 0
	}

#menteesignin, #mentorsignin{
	padding-top: 10em;
>>>>>>> f9e48ce9d206af5ac12efe04a21dd9f730de494e
}
