/* variables */
#info {
  background: #ffffff;
  margin: 6em 0;
  text-align: center;
}
#blog {
  background: #eeeeee;
}
#loginSignup,
footer {
  text-align: center;
  margin: 6em 0;
}
.lead {
  font-size: 200%;
  padding-bottom: 4em;
}
